# Generate with: openssl rand -hex 24
DB_PASSWORD=

DB_USERNAME=postgres
DB_DATABASE_NAME=immich
IMMICH_VERSION=release
DB_HOSTNAME=database
REDIS_HOSTNAME=redis
UPLOAD_LOCATION=/data/immich/uploads
DB_DATA_LOCATION=/data/immich/db
MACHINE_LEARNING_DEVICE=cuda
